
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    left: 0;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.main-cont{
     display: grid;
     grid-template-rows: 70px 400px 200px; 
}
.con1{
    display: grid;
    grid-template-columns: 20vw 14vw 25vw 1fr;
    border: 1px solid rgb(206 206 206);
    /* background-color: blue; */
}
.con1-1{
    background-position: right;
    /* background-color: darkorange;  */
    background-image: url(./nav.img.webp);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
}
.con1-2{
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 500;
    /* background-color: #008ed0; */
}
#arrow{
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
#s1{
    cursor: pointer;
}

.con1-3{
    display: flex;
    align-items: center;
    font-size: small;
    /* background-color: deeppink; */
}
#location{
    height: 15px;
    cursor: pointer;
}
.con1-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    font-size: medium;
    /* background-color: hotpink; */
}
a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

#cart{
    height: 30px;
    cursor: pointer;
}
.con2{
     background-color: chartreuse; 
}
.con3{
    background-color: aqua;
}