@media screen (max-width: 661px;){

    .main-con{
        display: grid;
        grid-template-rows: 100px 400px 40px 1fr 75px;
    }
}
    
.con1{
    background-color: green;
    grid-template-columns: 200px 1fr;
}
.con1-1{
    background-color: white;
    display: flex;
    /* justify-content: center; */
}
.con1-2-nav{
    display: flex;
    background-color:#2A33ca;
}
.con2{
    background-color: yellow;
}
.con3{
    background-color: blue;
}
.con4{
    background-color: red;
}
.con5{
    background-color: lightcoral;
}